* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
    height: 98vh;
    margin:60px 0px 90px 0px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

.input-group {
    margin: 15px 0;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1.8px solid rgb(234, 71, 201);
    border-radius: 8px;
    font-size: 14px;
    background-color: #ffffff3a;
}

.btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: #ff4d6d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #ff1e4d;
}

#loadingMessages {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

.hidden {
    display: none;
}

.footer{
    /* position: relative;
    top: 90vh; */
    background-color: black;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:12px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer h2{
    font-weight: 400;
    font-size: 20px;
}
